VITE_SUPABASE_URL='https://plbgqgoglmsjqjjuovoa.supabase.co'
VITE_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsYmdxZ29nbG1zanFqanVvdm9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2NjIzNzksImV4cCI6MjA3NDIzODM3OX0.WGEOxghdxXdzkp-ZFQvBT0CzHbTZqO4ijeYUL_s_jtw'